.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.signup h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}
button {
    width: 100%;
}
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.login h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}